


{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		<!-- Tailwind CSS included -->
	{% endblock %}
	</head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
{{ function('wp_body_open') }}
<a class="skip-link screen-reader-text" href="#content">{{ _e('Skip to content') }}</a>

<!-- Include the header template -->
{% include 'header-default.twig' %}

<section id="content" role="main" class="content-wrapper dark:bg-gray-800">
	{% if title %}<h1>{{ title }}</h1>{% endif %}
	<div class="wrapper">
		{% block content %}
			Sorry, no content
		{% endblock %}
	</div>
	{% if sidebar %}
		<aside class="layout-sidebar">
			{{ sidebar }}
		</aside>
	{% endif %}
</section>

{% block footer %}
	<footer id="footer">
		{% include 'footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}

<!-- JavaScript for dark mode toggle -->
<script>
	document.addEventListener('DOMContentLoaded', function() {
		// Assuming your toggle button has an ID 'dark-mode-toggle'
		const toggleButton = document.getElementById('dark-mode-toggle');
		if (toggleButton) {
			toggleButton.addEventListener('click', function() {
				document.body.classList.toggle('dark');
			});
		}
	});
</script>
</body>
</html>

